#sitemap {
	width:  500px;
	height:auto;
	float: left;
	padding-left: 10px;
}
#sitemap label:before{
	content: "\2193 \0020";
}
#sitemap label{
	border-bottom:2px;
	border-bottom-color:#807F83;
	border-bottom-style:solid;
}
#sitemap ul {
	list-style-type:none;
	text-align:left;
}
#sitemap li:before{
	content: "\2192 \0020";
}
#sitemap a{
	color:black;
}

#map1{
	position: relative;
	margin-left:0px;
	z-index:100;	
}
#map1:hover #content1 {
	display: inherit;
}
#map1:hover #map2 {
	display: block;
	position:static
}
#content1 {
	display: none;
}
#map1 img{
    display: none;
	position: static;
	float: right;
}
#content1:hover img{
    display: block;
	z-index: 100;

}

#map2{
	position: relative;
	margin-left:0px;
	display: inherit;
	z-index:100;	
}
#map2:hover #content2{
	display: inherit;
}
#content2{
	display: none;
}
#content2 img{
    display: none;
	position: static;
	float: right;
}
#content2:hover img{
    display: block;
	z-index: 100;

}